<ng-container [ngSwitch]="action.type">
  <ng-container *ngSwitchCase="actionTypes.Button">
    <button
        mat-icon-button
        type="button"
        *ngIf="action.visible"
        [matTooltip]="action.tooltip"
        [matTooltipShowDelay]="tooltipShowDelay"
        [disabled]="action.disabled"
        [class.active]="isActive"
        (click)="actionClick($event)">
      <mat-icon>{{action.icon}}</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="actionTypes.Menu">
    <ng-container *ngIf="action.visible">
      <button
          mat-icon-button
          type="button"
          class="sub-action"
          [fsMenuTriggerFor]="menu"
          [matTooltip]="action.tooltip"
          [matTooltipShowDelay]="tooltipShowDelay"
          [disabled]="action.disabled"
          [class.active]="isActive"
          (click)="actionClick($event)">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>

      <fs-menu #menu>
        <ng-container *ngFor="let menuAction of action.menuActions">
          <ng-container *ngIf="menuAction.isGroup else simpleMenuItem">
            <fs-menu-group [label]="menuAction.label" [hidden]="!menuAction.visible">
              <ng-container *ngFor="let groupAction of menuAction.actions">
                <ng-template fs-menu-item
                             [hidden]="!groupAction.visible"
                             [link]="groupAction.routerLink?.link"
                             [queryParams]="groupAction.routerLink?.queryParams"
                             (click)="menuActionClick(groupAction, $event);">
                  @if (menuAction.icon) {
                    <mat-icon>{{groupAction.icon}}</mat-icon>
                  }
                  {{groupAction.label}}
                </ng-template>
              </ng-container>
            </fs-menu-group>
          </ng-container>
          <ng-template #simpleMenuItem>
            <ng-template fs-menu-item
                         [hidden]="!menuAction.visible"
                         [link]="menuAction.routerLink?.link"
                         [queryParams]="menuAction.routerLink?.queryParams"
                         (click)="menuActionClick(menuAction, $event);">
              @if (menuAction.icon) {
                <mat-icon>{{menuAction.icon}}</mat-icon>
              }
              <span>{{menuAction.label}}</span>
            </ng-template>
          </ng-template>
        </ng-container>
      </fs-menu>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="actionTypes.Component">
    <button
        mat-icon-button
        type="button"
        *ngIf="action.visible"
        [matTooltip]="action.tooltip"
        [matTooltipShowDelay]="tooltipShowDelay"
        [disabled]="action.disabled"
        [class.active]="isActive"
        (click)="actionClick($event)">
      <mat-icon>{{action.icon}}</mat-icon>
    </button>
  </ng-container>
</ng-container>
