.drawer {
  position: fixed;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  top: 0;
  bottom: 0;
  z-index: 75;
  background-color: #fff;
  min-width: 350px;
}

.left {
  left: 0;

  .drawer-actions {
    right: 0;
  }
}

.right {
  right: 0;

  .drawer-actions {
    left: 0;
  }
}

.drawer-actions {
  position: absolute;
  width: 34px;
  height: 100%;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  white-space: nowrap;

  .action-btn {
    margin-bottom: 5px;

    > button {
      border: none;

      >i {
        font-size: 18px;
      }
    }

  }
}

.drawer-content {
  margin: 0 34px;
  display: flex;
  align-content: space-between;
  height: 100%;

  .side {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
}

.active {
  background: #F2F7FF;
}
