<div [fsDrawerSide]="drawerRef">
  <ng-template fsDrawerAction="settings">
    <h1 style="margin-top:0">Settings</h1>

    <button mat-raised-button>DO SOMETHING</button>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis enim nunc, sit amet elementum odio vehicula a. Mauris a ante risus. Fusce vestibulum nulla et accumsan congue. Nam non turpis condimentum, feugiat tellus sit amet, faucibus purus. Ut accumsan dictum est, id condimentum quam consequat sit amet. Maecenas fermentum lorem non felis porttitor eleifend. Aliquam porttitor odio a pharetra porttitor. Mauris blandit iaculis sagittis. Quisque lacinia magna sit amet turpis lobortis tristique.</p>

    <p>Nam condimentum tempus egestas. Phasellus porttitor nisi tortor, eu tristique massa dignissim id. Integer rutrum gravida eros quis interdum. Phasellus fermentum sem sed neque pharetra, nec congue libero finibus. Mauris facilisis nibh at tincidunt faucibus. Pellentesque viverra semper rhoncus. Cras justo arcu, tristique non bibendum quis, aliquet sed urna. Vivamus quis massa a nunc convallis commodo. Curabitur id diam tincidunt, sagittis orci sit amet, pretium ligula. Sed nibh ante, fringilla eget bibendum et, suscipit vel ex. Ut in orci libero. Pellentesque pharetra dignissim nulla, sit amet rhoncus turpis.</p>

    <p>Donec eu aliquet arcu. Maecenas tortor leo, feugiat vitae ullamcorper imperdiet, tincidunt vitae nulla. Proin semper egestas viverra. Donec sem felis, vehicula non sollicitudin non, efficitur at diam. Mauris sed nunc vestibulum, mollis neque nec, laoreet erat. Aliquam congue, magna ut vestibulum pretium, massa orci vulputate nisi, venenatis scelerisque magna magna quis sem. Cras nec ante quis urna pretium auctor. Proin nulla risus, consequat ac imperdiet ac, ultricies sit amet turpis. Donec id malesuada nisi. Duis nibh velit, placerat id consequat nec, rutrum id tellus. Phasellus et dolor quis sem venenatis eleifend. Phasellus malesuada libero pretium risus sollicitudin, quis rutrum enim pulvinar. Nulla facilisi.</p>

  </ng-template>
  <ng-template fsDrawerAction="edit">
    Edit action
  </ng-template>
</div>

<div fsDrawerContent>
  <pre style="margin: 0">{{ account | json }}</pre>

  <button mat-raised-button color="primary" (click)="toggleNotification()">Toggle Notifications</button>
  <button mat-raised-button color="primary" (click)="dataChange()">Data Change</button>
</div>
