<div class="mat-elevation-z2 drawer" #drawer
     hidden
     [style.width]="config.width"
     [ngClass]="config.position"
     [hidden]="!initialized"
>
  <ng-container>
    <fs-drawer-actions class="drawer-actions"
                       #drawerActionsContainer
                       [fsDrawerResizer]="drawer"
                       [resizeMin]="config.resize?.min"
                       [resizeMax]="config.resize?.max"
                       [resizable]="!!config.resize"
                       [direction]="config.position"
                       [actions]="config.actions"
                       [activeAction]="drawerRef.activeAction"
                       (actionClicked)="actionClick($event)"
                       (menuActionClicked)="menuActionClick($event)"
    ></fs-drawer-actions>
    <div class="drawer-container" #drawerContentContainer>
      <ng-template cdkPortalOutlet></ng-template>
    </div>
  </ng-container>
</div>
