
@switch (action.type) {
  @case (actionTypes.Button) {
    @if (action.visible) {
      <button
        mat-icon-button
        type="button"
        [matTooltip]="action.tooltip"
        [matTooltipShowDelay]="tooltipShowDelay"
        [disabled]="action.disabled"
        [class.active]="isActive"
        (click)="actionClick($event)">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    }
  }
  @case (actionTypes.Menu) {
    @if (action.visible) {
      <button
        mat-icon-button
        type="button"
        class="sub-action"
        [fsMenuTriggerFor]="menu"
        [matTooltip]="action.tooltip"
        [matTooltipShowDelay]="tooltipShowDelay"
        [disabled]="action.disabled"
        [class.active]="isActive"
        (click)="actionClick($event)">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
      <fs-menu #menu>
        @for (menuAction of action.menuActions; track menuAction) {
          @if (menuAction.isGroup) {
            <fs-menu-group [label]="menuAction.label" [hidden]="!menuAction.visible">
              @for (groupAction of menuAction.actions; track groupAction) {
                <ng-template fs-menu-item
                  [hidden]="!groupAction.visible"
                  [link]="groupAction.routerLink?.link"
                  [queryParams]="groupAction.routerLink?.queryParams"
                  (click)="menuActionClick(groupAction, $event);">
                  @if (menuAction.icon) {
                    <mat-icon>{{groupAction.icon}}</mat-icon>
                  }
                  {{groupAction.label}}
                </ng-template>
              }
            </fs-menu-group>
          } @else {
            <ng-template fs-menu-item
              [hidden]="!menuAction.visible"
              [link]="menuAction.routerLink?.link"
              [queryParams]="menuAction.routerLink?.queryParams"
              (click)="menuActionClick(menuAction, $event);">
              @if (menuAction.icon) {
                <mat-icon>{{menuAction.icon}}</mat-icon>
              }
              <span>{{menuAction.label}}</span>
            </ng-template>
          }
        }
      </fs-menu>
    }
  }
  @case (actionTypes.Component) {
    @if (action.visible) {
      <button
        mat-icon-button
        type="button"
        [matTooltip]="action.tooltip"
        [matTooltipShowDelay]="tooltipShowDelay"
        [disabled]="action.disabled"
        [class.active]="isActive"
        (click)="actionClick($event)">
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    }
  }
}
