@import '~@angular/material/theming';
@include mat-core();

@mixin fs-drawer($theme) {

  $primary: mat-palette($theme);

  [hidden] {
    display: none !important;
  }

  fs-drawer {

    .drawer {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 75;
      background-color: #fff;
      min-width: 350px;
    }

    .left {
      left: 0;

      .drawer-container {

        > *:first-child {
          margin-left: 0 !important;
          flex-direction: row-reverse;
        }
      }

      .drawer-actions {
        right: 0;
      }
    }

    .right {
      right: 0;

      .drawer-actions {
        left: 0;
      }
    }

    .drawer-container {
      height: 100%;

      > *:first-child {
        margin-left: 40px;
        display: flex;
        align-content: space-between;
        height: 100%;
      }

      .side {
        display: flex;
      }

      .side-container {
        overflow-y: auto;

        .side-content {
          padding: 15px;
          min-width: 200px;
          box-sizing: border-box;
        }
      }
      .content-container {
        width: 100%;
        overflow-y: auto;

        .content {
          width: 100%;
          padding: 15px;
          box-sizing: border-box;
          min-width: 200px;
        }
      }
    }


    .drawer-actions {
      position: absolute;
      width: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #ccc;
      user-select: none;
      white-space: nowrap;

      .action-btn {
        position: relative;
        margin-bottom: 5px;
        background: #fff;
        z-index: 5;

        > button {
          border: none;
          outline: none;
        }
      }

      .material-icons {
        color: #4c4c4c;
      }

      button.active .material-icons {
        color: mat-color($primary);
      }
    }

    .resize {
      width: 40px;
      border-left: 1px solid #ccc;
    }

    .resize-icon {
      position: absolute;
      display: block;
      top: 50%;
      width: 7px;
      height: 20px;
      margin: -10px 0 0 17px;
      border-style: solid;
      border-color: #ccc;
      border-width: 0 1px;
      box-sizing: border-box;
      line-height: 14px;
      user-select: none;
      z-index: 1;
    }
  }
}

fs-drawer.side-open {
  .drawer-container .content-container .content {
    padding-left: 0;
  }
}