<ng-container [ngSwitch]="drawer.drawerConfig.position" *ngIf="activeTemplate">
  <ng-container *ngSwitchCase="'right'">
    <div class="side-container" #sideContainer>
      <div class="side-content">
        <ng-template [ngTemplateOutlet]="activeTemplate"></ng-template>
      </div>
    </div>
    <div class="resize"
         resizable="true"
         direction="left"
         [fsDrawerResizer]="sideContainer"
         [resizeMin]="drawer.drawerConfig.resize.minSide"
         [resizeMax]="drawer.drawerConfig.resize.maxSide"
         [parentContainer]="drawer.drawerContentContainer"
         [actionsContainer]="drawer.drawerActionsContainer"
    >
      <span class="resize-icon"></span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'left'">
    <div class="resize"
         resizable="true"
         direction="right"
         [fsDrawerResizer]="sideContainer"
         [resizeMin]="drawer.drawerConfig.resize.minSide"
         [resizeMax]="drawer.drawerConfig.resize.maxSide"
    >
      <span class="resize-icon"></span>
    </div>
    <div class="side-container" #sideContainer>
      <div class="side-content">
        <ng-template [ngTemplateOutlet]="activeTemplate"></ng-template>
      </div>
    </div>
  </ng-container>
</ng-container>
